/* ----------- Suppoted Maximum mobile, Tablet and Desktop ----------- */
@media (min-width: 320px) {
  .fullscreen-menu {
    .dropdown {
        .dropdown-menu{
            background: none;
            border: none;
            transform:none !important;
            position: static !important;
            float: left;
        }
      &.show {
        .dropdown-menu {
            position: static !important;
            float: left;
            width: 100%;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            transform:none !important;
        }
      }
    }
  }
}

@media (min-width: 1367px) and (max-width: 1600px) {
}

@media (min-width: 1201px) and (max-width: 1366px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  
}
