
@import url('https://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,700,900&display=swap');
// font-family: 'Play', sans-serif;
// font-family: 'Roboto', sans-serif;
$headingFont:'Roboto',
sans-serif;
$body:'Play',
sans-serif;
$red:#FF0000;
$white:#ffffff;
$black-light:#222;
